<a href="https://colab.research.google.com/github/Rafael90900/Teste/blob/main/Teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def funcaoSemNome(nome, anoNascim):
  idade = 2023 - anoNascim
  print(nome, idade)

In [ ]:
funcaoSemNome('Rafael', 2005)

Rafael 18

In [ ]:
#Soma
def soma(a, b):
  return a + b
#Subtração
def subtracao(a, b):
  return a - b
#Multiplicação
def vezes(a, b):
  return a * b
#Divisão
def divisao(a, b):
  return a / b

In [ ]:
#soma
def soma(a,b):
  return a + b
  
  soma(80,9)

In [ ]:
  soma(80,9)

89

In [ ]:
subtracao(754,563)

191

In [ ]:
#Multiplicação
def vezes(a, b):
  return a * b
vezes(589,397)

233833

In [ ]:
#Divisão
def divisao(a, b):
  return a / b

In [ ]:
divisao(70,12)

5.833333333333333

In [ ]:
def somaNotas(*notas):
  soma = 0
  for n in notas:
    soma += n
  print(soma / len(notas))

In [ ]:
somaNotas(9.5 ,8, 10)

9.166666666666666

In [ ]:
import random

num = random.randrange(101)
minimo = 0
maximo = 100
pitaco = int(input(f'Chute um número entre {minimo} e {maximo}: '))
cont = 1

while(num != pitaco):
  if(pitaco > num):
    maximo = pitaco
  else:
    minimo = pitaco
  pitaco = int(input(f'Chute um número entre {minimo} e {maximo}: '))
  cont+=1

print(f'ACERTOU! {cont} tentativas!')

Chute um número entre 0 e 100: 48
Chute um número entre 0 e 48: 43
Chute um número entre 0 e 43: 32
Chute um número entre 0 e 32: 23
Chute um número entre 0 e 23: 20
Chute um número entre 0 e 20: 13
Chute um número entre 13 e 20: 16
Chute um número entre 16 e 20: 18
Chute um número entre 16 e 18: 17
ACERTOU! 9 tentativas!

In [ ]:
#Cria uma lista de compras, encerra caso digite 0.
comprasLista = []

item = input('Digite o item: ')

while (item != '0'):
  comprasLista.append(item)
  item = input('Digite o item: ')

comprasLista

Digite o item: Macarrão
Digite o item: Queijo
Digite o item: Coca cola
Digite o item: Carne
Digite o item: 0

['Macarrão', 'Queijo', 'Coca cola', 'Carne']